<%-include ('../header') %>


  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col-md-10">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Contest</h4>
        </div>
        <div class="col-md-2">
          <a href="/contest/create">
            <button hef class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="Add one candidates ">
            Add
          </button>
          </a>
        </div>

      </div>


      <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table ">
            <thead>
              <tr>
                <th>Name</th>
                <th>Start_date</th>
                <th>Last_date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <% contests.forEach((item, key) => { %>
              <tr>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= item.name %></strong></td>
                <td><%= item.start_date.toISOString().slice(0, -5) %></td>
                <td><%= item.last_date.toISOString().slice(0, -5) %></td>
                <td><span class="badge bg-label-primary me-1"><%= item.status  == 1 ? 'Display': 'Hidien'%></span></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="list-contest-candidates/<%= item.id %>"><i class="menu-icon tf-icons bx bx-detail"></i> Show list candidates</a>
                      <a class="dropdown-item" href="vote-history-contest/<%= item.id %>"><i class="bx bx-show"></i> Show history vote</a>
                      <a class="dropdown-item" href="edit/<%= item.id %>"><i class="bx bx-edit-alt me-1"></i> Edit Contest</a>
                      <a class="dropdown-item" onclick="return confirm('You definitely want to delete this entry ?')" href="delete/<%= item.id %>"><i class="bx bx-trash me-1"></i> Delete Contest</a>
                    </div>
                  </div>
                </td>
              </tr>
              <% })%>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!-- / Content -->

    <%-include ('../footer') %>