<%-include ('../header') %>


  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col-md-10">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Candidates</h4>
        </div>
        <div class="col-md-2">
          <a href="create">
            <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,4"
            data-bs-placement="right" data-bs-html="true" title="Add one candidates ">
            Add
          </button>
          </a>
        </div>

      </div>


      <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <% candidates.forEach((item, key) => { %>
        <div class="col">
          <div class="card h-100">
            <img class="card-img-top" height="300px" src="/img/avatars/<%= item.avatar %>" alt="Card image cap" />
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="card-title text-info"><%= item.name %></h5>
                </div>
                <div class="col-md-2 text-right">
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded text-warning"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="vote-history-cadidetes/<%= item.id %>"><i class="bx bx-show"></i> Show history vote</a>
                      <a class="dropdown-item"  href="edit/<%= item.id %>"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                      <form action="" method="delete">
                        <a class="dropdown-item" onclick="return confirm('You definitely want to delete this entry ?')" href="delete/<%= item.id %>"><i class="bx bx-trash me-1"></i> Delete</a>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 ">
                  Address: <%= item.address %>
                </div>
                <div class="col-md-4">
                  Age: <%= item.age %>
                </div>
                <div class="col-md-8 text-primary">
                  Contest: <%= item.contest.name %>
                </div>
                <div class="col-md-4 text-danger">
                  Vote: <%= item.quantityVote %>
                </div>
                <div class="col-md-12">
                  Phone: <%= item.phone %>
                </div>
                <div class="col-md-12">
                  Status: <%= item.status  == 1 ? 'Display': 'Hidien'%>
                </div>
                <div class="col-md-12 text-center">
                  Content: <%= item.content %>
                </div>
                <div class="col-md-12 text-center">
                  Other: <%= item.other %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% })%>
      </div>
    </div>
    <!-- / Content -->
    <%-include ('../footer') %>