<%-include ('../header') %>

  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Tables /</span> Account
      </h4>

      <div class="card">
        <h5></h5>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Voter's name</th>
                <th>Name Candidates</th>
                <th>created_time</th>
                <th>quantityVoted</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach((item,key) => { %>
              <tr>
                <td><%= item.id %></td>
                <td><%= item.acc.name %></td>
                <td><%= item.candidate.name %></td>
                <td><%= item.created_time.toLocaleDateString('zh-Hans-CN') %></td>
                <td><%= item.quantityVoted %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%-include ('../footer') %>
  </div>